<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta content="description" name="Занятия для детей школьного и дршкомльного возраста. А также частный детский сад и городской лагерь.">
    <title>О нас</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="site.html">
                <img src="logo_осьминожки.png" alt="логотип">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="about_us.html">О нас</a></li>
                    <li><a href="preschoolers.html">Дошкольники</a></li>
                    <li><a href="junior_schoolchildren.html">Младшие школьники</a></li>
                    <li><a href="zero_class.html">Нулевой класс</a></li>
                </ul>
                <ul>
                    <li><a href="part-time.html">Группа неполного дня</a></li>
                    <li><a href="intensives.html">Интенсивы</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="phone">
                <a href="#">+7(915)300-35-95</a>
            </div>
        </div>
    </header>
    <section>
        <h1 style="position:absolute; left:500px">Визитная карточка</h1>
    </section>
    <section style="position:absolute; top: 300px; left:400px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0DqPD6Kue6Q?si=i3674fdF6N4StcZb"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </section>
    <section class="main_part" style="position:absolute; top: 700px;">
        <h1 style="position:absolute; left: 530px;">Правила клуба</h1>
        <ol class="olist1" style="position:absolute; top: 150px; ">
            <li>Детский клуб работает ежедневно <font face="text_list" color="#6d70d1" size="6px">с 9:00 до 20:00.</font></li>
            <li>Посещения клуба могут носить разовый или систематический
                (регулярный) характер, быть индивидуальными и групповыми
                (в соответствии с санитарными нормами).</li>
            <li>Вход в помещение клуба осуществляется <font face="text_list" color="#54c4a3" size="6px">только в бахилах или
                сменной обуви.</font> Родители, присутствующие на занятиях, должны
                быть в сменной обуви или в носочках.</li>
            <li>К занятиям допускаются только <font face="text_list" color="#c45461" size="6px">абсолютно здоровые дети и взрослые.</font></li>
            <li>Перед занятием вам <font face="text_list" color="#c2c454" size="6px">нужно отметиться</font> у администратора.</li>
            <li>Не забывайте сообщать администратору клуба о том, кто будет
                забирать ребенка с занятий.</li>
            <li>Расскажите педагогу <font face="text_list" color="#5ec454" size="6px">об индивидуальных особенностях вашего
                ребенка</font> – это поможет сделать его пребывание в клубе максимально
                полезным и радостным.</li>
            <li><font face="text_list" color="#c46954" size="6px">Не опаздывайте на занятия</font> и забирайте детей вовремя.</li>
            <li><font face="text_list" color="#c454b2" size="6px">Приходите на занятия не более, чем за 5-10 минут</font> до начала – детям
                тяжело заниматься, просидев в коридоре 20-30 минут в ожидании занятия.</li>
            <li>Помещения клуба не рассчитаны на длительное пребывание детей после
                занятия. Пожалуйста, дайте возможность другим детям переодеться и
                подготовиться к занятиям.</li>
            <li><font face="text_list" color="#94c454" size="6px">Одежда ребенка должна быть комфортной,</font> не стесняющей движений.</li>
            <li>Администрация оставляет за собой право заменить заявленного
                преподавателя на время его болезни или вынужденного отсутствия.</li>
            <li><font face="text_list" color="#5654c4" size="6px">Родители несут ответственность за здоровье и безопасность детей до и
                после занятий,</font> передают ребенка лично педагогу и также забирают его,
                не оставляя в клубе без присмотра.</li>
            <li>Просим вас уважительно относиться ко всем детям, посещающим клуб,
                принимая во внимания особенности их характера. Каждый ребенок имеет
                право на адаптацию в течение первого месяца занятий.</li>
            <li>При посещении нашего клуба, пожалуйста,<font face="text_list" color="#54c481" size="6px"> не наказывайте ваших детей,</font> в
                том числе физически. Мы поддерживаем другие методы обучения и воспитания.</li>
            <li>К сожалению, если ребенок конфликтен и агрессивен, мы оставляем за собой
                право отказать вам в посещении занятий в Клубе.</li>
            <li>Занятия для детей до 3 (трех) лет (за исключением групп мини-сада) проходят
                только совместно со взрослым, которому ребенок доверяет. Взрослый несет
                ответственность за здоровье и безопасность своего ребенка до, во время и
                после занятия. С каждым ребенком может присутствовать только один взрослый.
                Присутствие родителей на занятиях всех остальных направлениях не предусмотрено.</li>
            <li><font face="text_list" color="#c4ac54" size="6px">Просим вас находиться на территории клуба</font> до полной адаптации ребенка в группе.</li>
            <li><font face="text_list" color="#5489c4" size="6px">Не приносите на занятие собственные игрушки,</font> жевательную резинку, конфеты, другие продукты питания.</li>
            <li><font face="text_list" color="#c4547d" size="6px">Не пользуйтесь в клубе мобильным телефоном</font> или ставьте его на беззвучный режим, при просмотре
                видеоматериалов во время ожидания используйте наушники.</li>
            <li><font face="text_list" color="#54c460" size="6px">Относитесь бережно к имуществу клуба!</font> Все в нашем Клубе сделано специально для вас и ваших детей.</li>
            <li><font face="text_list" color="#c47d54" size="6px">Видеосъемка занятий запрещена,</font> фото- и видеосъемка в клубе может осуществляться
                только с разрешения руководителя Клуба.</li>
            <li>Просим вас не решать спорные ситуации в присутствии детей.</li>
            <li><font face="text_list" color="#5474c4" size="6px">Вы всегда можете решить проблемные вопросы с директором клуба.</font></li>
            <li>Уважаемые родители и дети! Нам очень приятно, когда вы приходите к нам в хорошем
                настроении. Это передается другим детям и нашим сотрудникам, что делает атмосферу
                в нашем клубе еще более доброжелательной, а занятия – более эффективными!</li>
        </ol>
    </section>
    <section class="main_part" style="position:absolute; top: 2080px;">
        <h1 style="position:absolute; left: 580px; top:-70px;">Абонемент</h1>
        <h4>Перед покупкой абонемента <font color="#c45461">НЕОБХОДИМО</font> ознакомиться с договором публичной оферты
на доске объявлений в зоне ресепшен</h4>
        <ol>
            <li>Абонемент приобретается на календарный месяц по фиксированной стоимости. Оплачивая первый абонемент, вы подтверждаете согласие с правилами нашего клуба и готовы
                их соблюдать. Первый абонемент можно купить с любого числа текущего месяца. Прейскурант висит на доске объявлений в зоне ресепшен.</li>
            <li>Оплата абонемента на следующий месяц производится с 25 по 30 число текущего месяца. Если абонемент своевременно не оплачен, то допуск к занятиям закрывается, и
                клуб не гарантирует сохранность места в группе.</li>
            <li>Вы можете прийти на  пробное занятие и оплатить его по льготной стоимости. Посещение пробного занятия возможно не более одного раза.</li>
            <li>Разовая оплата занятия возможна не более двух раз после посещения пробного занятия для адаптации ребенка в группе. При разовой оплате место в группе за вашим ребенком не закрепляется,
                перед каждым посещением необходимо заранее позвонить администратору и забронировать место в группе. Администратор клуба вправе отказать в разовом посещении при максимальном
                наполнении групп. Приоритетом пользуются владельцы абонементов.</li>
            <li>Если ребенок заболел, клиент должен сообщить администратору об отсутствии ребенка на занятиях не позднее, чем за 2 часа до начала занятия. Сразу после пропуска необходимо
                предоставить справку.</li>
            <li>Занятия, пропущенные без уважительной причины, без справки и без предупреждения о пропуске не отрабатываются! Если вы проспали, забыли, не успели, то занятие было проведено
                без вас, но место было закреплено за вами и педагог готовил необходимые пособия на всю группу. Поводом для отработок является только болезнь, подтвержденная справкой. Оплата
                за пропущенные без уважительной причины занятия не возвращается! Недисциплинированность не является существенным основанием для возврата денег!</li>
            <li>При наличии пропусков занятий ребенком Исполнитель не производит поурочный перерасчет стоимости услуг, стоимость пропущенных занятий не возвращается. Отработка занятий возможна
                в период действия текущего абонемента и следующего за ним оплаченного абонемента. Записаться на отработку необходимо заранее на ресепшн клуба. Варианты отработок:
1:1 – один пропуск группового занятия отрабатывается на одном групповом занятии согласно расписанию отработок или в параллельных группах согласно их расписанию
2:1 – два пропуска групповых занятий можно отработать на одном занятии данного курса в составе мини-группы (2-3 человека)</li>
            <li>Один раз в период с 1 сентября по 31 мая можно воспользоваться заморозкой абонемента. При необходимости заморозку можно разбить на два периода по одной неделе. В этом случае занятия, которые
                замораживаются, переносятся в абонемент на следующий месяц.</li>
        </ol>
        <button class="button_about_us" style="position=a:bsolute; top:450px;">
            <a href="https://disk.yandex.ru/i/59HMDbsQDC3crA">
            скачать договор оферты
            </a>
        </button>
    </section>
    <footer style="position:absolute; top:2600px">
        <p style="position:absolute; top:20px; left:600px">+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
osminozhki-club@mail.ru<br>
Все права защищены<br>
© 2013 — 2024.<br>
Детский клуб «Осьминожки»</p>
        <img src="bottom.png">
        <img src="осм.png" width="450px">
    </footer>
</body>
</html>