{% extends 'base_template.html' %}

{% block content %}

<section class="main_part">
    <h1>Изостудия 7+</h1>
    <h2>Программа «Изостудия 7+» предполагает:</h2>

    <p>
    Как и общеобразовательные программы, данный курс доступен для каждого желающего ребенка и не требует наличия у него хорошо развитых художественных способностей. <br>
        Вместе с тем, курс предлагает достаточно широкий круг видов изобразительной деятельности, <br>что во многом отличает его от общеобразовательных программ и сближает с программами художественных школ. <br>
        В программе используется групповая форма работы с детьми. <br>
        На каждом занятии используется здоровье сберегающие технологии (обсуждение организационных моментов в начале и конце занятия, короткий перерыв в середине занятия с проветриванием помещения, использование игровой деятельности с целью переключения ребенка с одного вида работы на другой). < br
        Основная форма проведения занятий – групповая с ярко выраженным индивидуальным подходом.</p>


</section>
{% endblock %}