{% extends 'base_template.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
</div>


{% endfor %}


{% if name %}
<h1>User Added!</h1>
<br/><br/>
<table class="table table-hover table-bordered table-striped">

    {% for our_user in our_users %}
    <tr>
        <td>{{ our_user.id }}. {{ our_user.name_surname }} - {{ our_user.phone_number }}
    </tr>
    {% endfor %}

</table>


{% else %}
<h1>Авторизация</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name_surname.label(class="form-label") }}

        {{ form.name_surname(class="form-control") }}
        <br/>

        {{ form.phone_number.label(class="form-label") }}

        {{ form.phone_number(class="form-control") }}
        <br/>

        {{ form.password.label(class="form-label") }}

        {{ form.password(class="form-control") }}
        <br/>


        {{ form.submit(class="btn btn-secondary") }}


    </form>
</div>
{% endif %}

{% endblock %}
