{% extends 'base_template.html' %}

{% block content %}

<section class="main_part">
    <h1> Комплексное развитие для детей 4-5 лет </h1>
    <h2>Мы разработали уникальную программу, которая охватывает все основные аспекты развития детей 4-5 лет:</h2>

    <p>
    1. изучение букв;<br>

    2. развитие мелкой моторики руки;<br>

    3. математика;<br>

              new<br>
    1. мультитренажеры по развитию речи, внимания, памяти, мышления и восприятия от известного логопеда- практика.<br>

    2. 32 объемных темы по окружающему миру с игровыми заданиями;<br>

    3. 32 текста для чтения и пересказа по картинкам для развития связной речи<br>
    </p>

    <h2>«Комплексное развитие» 4-5 лет включает в себя изучение детьми окружающего мира:</h2>

    <p> Фрукты, Овощи, Сад-огоро, Деревь, Ягод, Гриб, Осен, Челове, Игрушки, Посуда, Продукты, Одежда, Головные уборы и обувь, Зима, Зимующие птицы, Дикие животные, <br>Домашние животные, Домашние птицы, Инструменты, Профессии, Защитники отечества, Международный женский день, Весна, Мебель, Перелетные птицы, Зоопарк, <br>Насекомые, Рыбы, Цветы, Транспорт, Лето, Школьные принадлежности</p>

    <h2>По каждой теме дети выполняют игровые задания:</h2>

    <p>найти,
    раскрасить,
    дорисовать,
    запомнить,
    назвать по памяти,
    обвести,
    соединить,
    выполнить по образцу, найти отличия,
    пройти лабиринт,
    найти ошибки и многие другие.<br>

    А ещё мы читаем рассказы, отвечаем на вопросы и учимся пересказывать по картинкам.<br>

    Все это способствует расширению знаний об окружающем мире и развивает речь, внимание, мышление, память, восприятие и мелкую моторику рук.<br>

    Также мы учим математику и играем с буквами и звуками.

    Дети получают всестороннее развитие!<br>

    Мы обучаем детей по лучшим образовательным программам от педагогов, логопедов и психологов с многолетним опытом работы с детьми.<br>

    Программы, проверенные на практике в детских образовательных организациях.<br>

    А с 5 лет мы учим детей читать и писать. Дети, которые прошли программу 4-5, гораздо легче и быстрее учатся читать и писать»</p>

    <img src="{{ url_for('static', filename='img/дошколята2.jpeg') }}">
    <img src="{{ url_for('static', filename='img/дошколята3.jpeg') }}">
    <img src="{{ url_for('static', filename='img/дошколята4.jpeg') }}">


</section>
{% endblock %}