{% extends 'base_template.html' %}

{% block content %}

<h1> Комплексное развитие для детей 4-5 лет </h1>
<h4>Мы разработали уникальную программу, которая охватывает все основные аспекты развития детей 4-5 лет:</h4>

<p>
1. изучение букв;<br>

2. развитие мелкой моторики руки;<br>

3. математика;<br>

          new<br>
1. мультитренажеры по развитию речи, внимания, памяти, мышления и восприятия от известного логопеда- практика.<br>

2. 32 объемных темы по окружающему миру с игровыми заданиями;<br>

3. 32 текста для чтения и пересказа по картинкам для развития связной речи<br>
</p>

<h4>«Комплексное развитие» 4-5 лет включает в себя изучение детьми окружающего мира:</h4>

1. Фрукты
2. Овощи
3. Сад-огород
4. Деревья
5. Ягоды
6. Грибы
7. Осень
8. Человек
9. Игрушки
10. Посуда
11. Продукты
12. Одежда
13. Головные уборы и обувь
14. Зима
15. Зимующие птицы
16. Дикие животные
17. Домашние животные
18. Домашние птицы
19. Инструменты
20. Профессии
21. Защитники отечества
22. Международный женский день
23. Весна
24. Мебель
25. Перелетные птицы
26. Зоопарк
27. Насекомые
28. Рыбы
29. Цветы
30. Транспорт
31. Лето
32. Школьные принадлежности

По каждой теме дети выполняют игровые задания:

найти,
раскрасить,
дорисовать,
запомнить,
назвать по памяти,
обвести,
соединить,
выполнить по образцу, найти отличия,
пройти лабиринт,
найти ошибки и многие другие.

А ещё мы читаем рассказы, отвечаем на вопросы и учимся пересказывать по картинкам.

Все это способствует расширению знаний об окружающем мире и развивает речь, внимание, мышление, память, восприятие и мелкую моторику рук.

Также мы учим математику и играем с буквами и звуками.

Дети получают всестороннее развитие!

Мы обучаем детей по лучшим образовательным программам от педагогов, логопедов и психологов с многолетним опытом работы с детьми.

Программы, проверенные на практике в детских образовательных организациях.

А с 5 лет мы учим детей читать и писать. Дети, которые прошли программу 4-5, гораздо легче и быстрее учатся читать и писать»

Английский язык
«для дошкольников 5-7 лет и учащихся 1-4 классов

Главная цель наших занятий – научить ребёнка говорить на английском языке.

В основе нашей программы лежит коммуникативная методика.

Прежде всего мы обучаем 4 видам речевой деятельности:
слушанию, говорению,
чтению и письму на английском языке.

Начинаем с формирования правильного произношения. Изучаем фонетику, алфавит, транскрипцию, правила чтения.

Изучаем лексику и грамматические правила.

Только зная базовую лексику и основную грамматику можно научиться  разговаривать.

Дети учатся читать и писать.

Дети учатся по британским учебникам.

Время урока используется продуктивно, в высоком темпе, со сменой видов деятельности и с учетом степени сложности заданий.

Группы формируются по возрасту/уровню подготовки.

Как следствие у детей формируется устойчивый интерес к английскому языку, что позволяет добиваться высоких результатов.

В этом году мы обновили программу обучения по английскому языку.

GoGetter — новый четырехступенчатый курс английского языка.

Обучение начинается от неполного уровня A1 и заканчивается уровнем В1 по шкале CEFR.

Ключевые особенности курса:

Учебный материал расчитан на 2−5 часов обучения в неделю, 90−120 часов аудиторной работы в год.

Курс представляет Британский английский язык, с использованием живых примеров речи в видео материалах ВВС.

Что делает GoGetter эффективным инструментом обучения?

1. Партнерство ВВС и Pearson обеспечивает курс аутентчными образовательными материалами высокого качества.

2. Мультимедийный материал состоит из разделов BBC Get culture, видероликов с живой коммуникативной грамматикой и дополнены уникальными разделами extra online practice.

3. Экзаменационные материалы естественно вплетены в процесс обучения. Их цель — диагностика областей, требующих внимания в дальнейшем обучении.

4. Курс помогает студентам успешно достичь учебных целей, а также развить навыки, необходимые для жизни в современном мире»</p>

{% endblock %}