<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta content="description" name="Занятия для детей школьного и дршкомльного возраста. А также частный детский сад и городской лагерь.">
    <title>Контакты</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="site.html">
                <img src="logo_осьминожки.png" alt="логотип">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="about_us.html">О нас</a></li>
                    <li><a href="preschoolers.html">Дошкольники</a></li>
                    <li><a href="junior_schoolchildren.html">Младшие школьники</a></li>
                    <li><a href="zero_class.html">Нулевой класс</a></li>
                </ul>
                <ul>
                    <li><a href="part-time.html">Группа неполного дня</a></li>
                    <li><a href="intensives.html">Интенсивы</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="phone">
                <a href="#">+7(915)300-35-95</a>
            </div>
        </div>
    </header>
    <h1 style="position:absolute; left:600px">Контакты</h1>
    <section style="position:absolute; top:265px; left:150px">
        <p><font size="6px">Детский Клуб «Осьминожки»</font></p>
        <p><font size="6px">Адрес:</font><br>г. Коломна, ул.Гагарина, д.7 «Б»
(ЖК «Серебряные паруса»)
        </p>
        <p><font size="6px">Телефоны:</font><br>
+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
        </p>
        <p><font size="6px">Электронная почта:</font><br>
osminozhki-club@mail.ru
        </p>
        <p><font size="6px">Режим работы:</font><br>
Без выходных с 9:00 до 20:00
        </p>
    </section>
    <section style="position:absolute; top:660px">
        <a href="https://t.me/osminozhki">
            <img src="tg.png" alt="дошколята" style="width:50px; position:absolute; left:250px">
        </a>
        <a href="https://vk.com/clubosminozhki">
            <img src="vk.png" alt="дошколята" style="width:50px; position:absolute; left:180px">
        </a>
    </section>

    <footer style="position:absolute; top:800px">
        <p style="position:absolute; top:20px; left:600px">+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
osminozhki-club@mail.ru<br>
Все права защищены<br>
© 2013 — 2024.<br>
Детский клуб «Осьминожки»</p>
        <img src="bottom.png">
        <img src="осм.png" width="450px">
    </footer>
</body>
</html>