{% extends 'base_template.html' %}

{% block content %}
    <h1 style="position:absolute; left:600px">Контакты</h1>
    <section style="position:absolute; top:265px; left:150px">
        <p><font size="6px">Детский Клуб «Осьминожки»</font></p>
        <p><font size="6px">Адрес:</font><br>г. Коломна, ул.Гагарина, д.7 «Б»
(ЖК «Серебряные паруса»)
        </p>
        <p><font size="6px">Телефоны:</font><br>
+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
        </p>
        <p><font size="6px">Электронная почта:</font><br>
osminozhki-club@mail.ru
        </p>
        <p><font size="6px">Режим работы:</font><br>
Без выходных с 9:00 до 20:00
        </p>
    </section>
    <section style="position:absolute; top:660px">
        <a href="https://t.me/osminozhki">
            <img src="./static/img/tg.png" alt="дошколята" style="width:50px; position:absolute; left:250px">
        </a>
        <a href="https://vk.com/clubosminozhki">
            <img src="./static/img/vk.png" alt="дошколята" style="width:50px; position:absolute; left:180px">
        </a>
    </section>
{% endblock %}