{% extends 'base_template.html' %}

{% block content %}

<section class="main_part">
    <h1> Интенсив по английской грамматике </h1>


<h2> Главная цель наших занятий – научить ребёнка говорить на английском языке.</h2>
<p>
В основе нашей программы лежит коммуникативная методика.<br>

Прежде всего мы обучаем 4 видам речевой деятельности: слушанию, говорению, чтению и письму на английском языке.<br>

Начинаем с формирования правильного произношения. Изучаем фонетику, алфавит, транскрипцию, правила чтения.<br>

Изучаем лексику и грамматические правила.<br>

Только зная базовую лексику и основную грамматику можно научиться разговаривать.<br>

Дети учатся читать и писать.<br>

Дети учатся по британским учебникам.<br>

Время урока используется продуктивно, в высоком темпе, со сменой видов деятельности и с учетом степени сложности заданий.<br>

Группы формируются по возрасту/уровню подготовки.<br>

Как следствие у детей формируется устойчивый интерес к английскому языку, что позволяет добиваться высоких результатов.<br>

В этом году мы обновили программу обучения по английскому языку.<br>

GoGetter — новый четырехступенчатый курс английского языка.<br>

Обучение начинается от неполного уровня A1 и заканчивается уровнем В1 по шкале CEFR.<br>
</p>

<h2>Ключевые особенности курса:</h2>
<p>
Учебный материал расчитан на 2−5 часов обучения в неделю, 90−120 часов аудиторной работы в год.<br>

Курс представляет Британский английский язык, с использованием живых примеров речи в видео материалах ВВС.<br>
</p>
    <h2>Что делает GoGetter эффективным инструментом обучения?</h2>
<p>
1. Партнерство ВВС и Pearson обеспечивает курс аутентчными образовательными материалами высокого качества.<br>

2. Мультимедийный материал состоит из разделов BBC Get culture, видероликов с живой коммуникативной грамматикой и дополнены уникальными разделами extra online practice.<br>

3. Экзаменационные материалы естественно вплетены в процесс обучения. Их цель — диагностика областей, требующих внимания в дальнейшем обучении.<br>

4. Курс помогает студентам успешно достичь учебных целей, а также развить навыки, необходимые для жизни в современном мире</p>

    <img src="{{ url_for('static', filename='img/англ1.jpeg') }}">
    <img src="{{ url_for('static', filename='img/англ3.jpeg') }}">
    <img src="{{ url_for('static', filename='img/англ4.jpeg') }}">


</section>
{% endblock %}