{% extends 'base_template.html' %}

{% block content %}
<section class="main_part">
    <h1>Интенсив для будущих первоклассников</h1>
    <ul style="display: flex;justify-content: space-between;">
        <li style="display: inline; margin: 0 170px;">
            <img src="./static/img/чтение.png" alt="дошколята" style="width:100px;">
        </li>
        <li style="display: inline; margin: 0 170px;">
            <img src="./static/img/мелкая_мат.png" alt="дошколята" style="width:100px;">
        </li>
        <li style="display: inline; margin: 0 170px;">
            <img src="./static/img/математика.png" alt="дошколята" style="width:100px;">
        </li>
    </ul>
    <ul class="olist1" style="display: flex;justify-content: space-between; ">
        <li style="display: inline; margin: 0 190px;">изучение букв</li>
        <li style="display: inline; margin: 0 190px;">мелкая маторика</li>
        <li style="display: inline; margin: 0 190px;">математика</li>
    </ul>
    <ul style="display: flex;justify-content: space-between;">
        <li style="display: inline; margin: 0 170px;">
            <img src="./static/img/мышление.png" alt="дошколята" style="width:100px;">
        </li>
        <li style="display: inline; margin: 0 170px;">
            <img src="./static/img/речь.png" alt="дошколята" style="width:100px;">
        </li>
        <li style="display: inline; margin: 0 170px;">
            <img src="./static/img/земля.png" alt="дошколята" style="width:100px;">
        </li>
    </ul>
    <ul class="olist1" style="display: flex;justify-content: space-between; ">
        <li style="display: inline; margin: 0 190px;">мышление</li>
        <li style="display: inline; margin: 0 190px;">речь</li>
        <li style="display: inline; margin: 0 190px;">окружающий мир</li>
    </ul>
    <p class="one" style="width: 1300px;
    max-width: 100%;
    margin: 0 auto;">
        А ещё мы читаем рассказы, отвечаем на вопросы и учимся пересказывать по картинкам. Все это способствует расширению знаний об окружающем мире
        и развивает речь, внимание, мышление, память, восприятие и мелкую моторику рук. Также мы учим математику и играем с буквами и звуками.
        Дети получают всестороннее развитие! Мы обучаем детей по лучшим образовательным программам от педагогов, логопедов и психологов с
        многолетним опытом работы с детьми. Программы, проверенные на практике в детских образовательных организациях. А с 5 лет мы учим детей читать
        и писать. Дети, которые прошли программу 4-5, гораздо легче и быстрее учатся читать и писать»
</p>
</section>
{% endblock %}
