<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta content="description" name="Занятия для детей школьного и дошкольного возраста. А также частный детский сад и городской лагерь.">
    <title>Интенсивы</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="site.html">
                <img src="./static/img/logo_осьминожки.png" alt="логотип">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="about_us.html">О нас</a></li>
                    <li><a href="preschoolers.html">Дошкольники</a></li>
                    <li><a href="junior_schoolchildren.html">Младшие школьники</a></li>
                    <li><a href="zero_class.html">Нулевой класс</a></li>
                </ul>
                <ul>
                    <li><a href="part-time.html">Группа неполного дня</a></li>
                    <li><a href="intensives.html">Интенсивы</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="phone">
                <a href="#">+7(915)300-35-95</a>
            </div>
        </div>
    </header>
    <section class="main_part">
        <h1>Наши интенсивы</h1>
        <h2> Быстрочтение</h2>
        <h4>12 занятий по 1 часу 30 минут</h4>
        <p class="one">Приглашаются:</p>
        <ol class="olist1">
            <li>6-7 лет и первоклассники (только для детей, умеющих читать)</li>
            <li>2 -4 классы</li>
        </ol>
        <p class="one">Обучение быстрочтению поможет детям:</p>
        <ul class="olist1">
            <li>читать правильно, быстро и с удовольствием;</li>
            <li>быстро усваивать информацию;</li>
            <li>развить внимание и память;</li>
            <li>лучше учиться;</li>
            <li>меньше времени тратить на выполнение домашних заданий.</li>
        </ul>
        <p class="one">На чем построена наша программа быстрочтение:</p>
        <ul class="olist1">
            <li>Устраняем ошибки при чтении.</li>
            <li>Расширяем поле зрения. Учим видеть сразу не 2-3 слова, а <br>
                целую фразу.Таким образом улучшается концентрация внимания<br>
                и развивается периферическое зрение. Все это повысит<br>
                скорость чтения и улучшит понимание.</li>
            <li>Учимся избегать артикуляции (проговаривания текста). Снизив артикуляцию до минимума,<br>
                можно повысить скорость чтения.</li>
            <li>Избавляемся от регрессии (Регрессия - чтение текста дважды, как бы для верности.)</li>
            <li>Большое внимание уделяем осознанности чтения.</li>
            <li>Развитие памяти.</li>
        </ul>
    </section>
    <section class="main_part">
        <h2> Интенсивы по русскому языку и математике</h2>
        <h4>для учеников 2 (3-4) классов</h4>
        <p class="one">Если Вашему ребенку трудно:</p>
        <ol class="olist1">
            <li>трудно выполнять домашние задания</li>
            <li>ребёнок пропустил много тем и есть пробелы в знаниях</li>
            <li>или просто Вы хотите повысить успеваемость ребёнка </li>
        </ol>
        <p class="one">Результаты интенсива:</p>
        <ul class="olist1">
            <li>Закроем имеющиеся пробелы в знаниях.</li>
            <li>Повторим и систематизируем темы по русскому языку и математике за 2 - 4 классы.</li>
            <li>Дети станут  более успешными и уверенными в себе.</li>
            <li> Смогут выполнять домашние задания самостоятельно.</li>
            <li>Закончат учебный год без стресса.</li>
        </ul>
    </section>
    <section>
        <img class='intens1' src="./static/img/интенсив1.jpeg" width="500" alt="интенсив1" style="position: absolute;
    top: 300px;
    left: 750px;">
        <img src="./static/img/интенесивы2.jpeg" width="300" alt="интенсив2" style="position: absolute;
    top: 850px;
    left: 1000px;">
        <img class='intens1' src="./static/img/интенсивы3.jpeg" width="330" alt="интенсив1" style="position: absolute;
    top: 1050px;
    left: 720px;">
    </section>
    <footer style="position:absolute; top:1500px">
        <p style="position:absolute; top:20px; left:600px">+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
osminozhki-club@mail.ru<br>
Все права защищены<br>
© 2013 — 2024.<br>
Детский клуб «Осьминожки»</p>
        <img src="./static/img/bottom.png">
        <img src="./static/img/осм.png" width="450px">
    </footer>
</body>
</html>
