<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta content="description" name="Занятия для детей школьного и дршкомльного возраста. А также частный детский сад и городской лагерь.">
    <title>Младшие школьники</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="site.html">
                <img src="logo_осьминожки.png" alt="логотип">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="about_us.html">О нас</a></li>
                    <li><a href="preschoolers.html">Дошкольники</a></li>
                    <li><a href="junior_schoolchildren.html">Младшие школьники</a></li>
                    <li><a href="zero_class.html">Нулевой класс</a></li>
                </ul>
                <ul>
                    <li><a href="part-time.html">Группа неполного дня</a></li>
                    <li><a href="intensives.html">Интенсивы</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="phone">
                <a href="#">+7(915)300-35-95</a>
            </div>
        </div>
    </header>
    <sector class="main_part" style="position:absolute;top:200px;">
        <h1 style="position:absolute;left:500px; top:-70px">Английский язык</h1>
         <h4>Что мы предлагаем:</h4>
        <ul class="olist1">
            <li>выстроенный и логичный индивидуальный путь ученика
                – от новичка до сдачи ОГЭ и ЕГЭ;</li>
            <li>собственный методический отдел, четыре педагога и
                международные стандарты;</li>
            <li>ежемесячный мониторинг успеваемости – для каждого
                ученика индивидуально и для группы в целом;</li>
            <li>прозрачный и понятный родителям процесс обучения с
                возможностью посещения занятий;</li>
            <li>сдача международных экзаменов;</li>
            <li>возможность оплаты материнским капиталом и оформления
                налогового вычета.</li>
        </ul>
        <h1 style="position:absolute;left:400px;">Не уроки, а приключения!</h1>
    </sector>
    <sector style="position:absolute; top:570px">
        <ul style="display: flex;justify-content: space-between;">
            <li style="display: inline; margin: 0 40px;">
                <img src="англ1.jpeg" alt="дошколята" style="width:350px;">
            </li>
            <li style="display: inline; margin: 0 40px;">
                <img src="англ2.jpeg" alt="дошколята" style="width:350px;">
            </li>
            <li style="display: inline; margin: 0 40px;">
                <img src="англ3.jpeg" alt="дошколята" style="width:350px;">
            </li>
        </ul>
        <h1 style="position:absolute;left:470px;">Результат обучения</h1>
        <ul class="olist1" style="position:absolute; top:620px">
            <li>Дети начинают быстро говорить, думать, читать на английском, а не
                просто рассказывать стихи, петь песни и перечислять названия предметов.
                Это значительно облегчает занятия по школьной программе.</li>
            <li>Ребёнок уверен в своей успешности, у него отсутствует боязнь сказать
                неправильно, он легко выражает свои мысли на английском языке.</li>
            <li>По окончанию курса дети понимают разных носителей языка (британцев, американцев,
                австралийцев), поэтому они легко сдают самую сложную часть ЕГЭ — аудирование.</li>
            <li>Дети не нуждаются в переводе, они сразу понимают собеседника или прочитанный ими текст.</li>
            <li>Подтверждение уровня английского языка на международных экзаменах.</li>
            <li>Море впечатлений, позитива и много новых друзей.</li>
        </ul>
    </sector>
    <footer style="position:absolute; top:1500px">
        <p style="position:absolute; top:20px; left:600px">+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
osminozhki-club@mail.ru<br>
Все права защищены<br>
© 2013 — 2024.<br>
Детский клуб «Осьминожки»</p>
        <img src="bottom.png">
        <img src="осм.png" width="450px">
    </footer>
</body>
</html>