{% extends 'base_template.html' %}

{% block content %}

<section class="main_part">
    <h1> Раннее музыкальное развитие 2-3 года и 3-4 года </h1>
    <h2>Мы разработали уникальную программу, которая охватывает все основные аспекты развития детей:</h2>

    <p>
        развитие врожденных задатков ребенка, которые впоследствии, возможно, станут его основной деятельностью;<br>
        активное развитие познавательных процессов: внимания, памяти, мышления, воображения, логики и т.д.;<br>
        формирование личностных качеств ребенка;<br>
        освоение координации движений;<br>
        формирование способности к обучению;<br>
        развитие четкой, осмысленной, красивой речи с правильной интонацией;<br>
        развитие эстетических и духовных чувств, творческих способностей.</p>

    <img src="{{ url_for('static', filename='img/musical_development_class.jpg') }}">


</section>
{% endblock %}