<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta content="description" name="Занятия для детей школьного и дршкомльного возраста. А также частный детский сад и городской лагерь.">
    <title>Отзывы</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo_осьминожки.png" alt="логотип">
            </div>
            <nav>
                <ul>
                    <li><a href="about_us.html">О нас</a></li>
                    <li><a href="#">Дошкольники</a></li>
                    <li><a href="#">Младшие школьники</a></li>
                    <li><a href="#">Нулевой класс</a></li>
                </ul>
                <ul>
                    <li><a href="#">Группа неполного дня</a></li>
                    <li><a href="#">Интенсивы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </nav>
            <div class="phone">
                <a href="#">+7(915)300-35-95</a>
            </div>
        </div>
    </header>
    <footer>

    </footer>
</body>
</html>