{% extends 'base_template.html' %}

{% block content %}

<section class="main_part">
    <h1> Интенсивы по русскому языку и математике для учеников 2 (3-4) классов </h1>

    <h2>Если Вашему ребёнку:</h2>
    <p>

        - трудно выполнять домашние задания,
        - ребёнок пропустил много тем и есть пробелы в знаниях
        - или просто Вы хотите повысить успеваемость ребёнка
    </p>
    <h2> Не теряйте времени! <br> Результаты интенсива: </h2>
    <p>
        1. Закроем имеющиеся пробелы в знаниях.
        2. Повторим и систематизируем темы по русскому языку и математике за 2 - 4 классы.
        3. Дети станут более успешными и уверенными в себе.
        4. Смогут выполнять домашние задания самостоятельно.
        5. Закончат учебный год без стресса.

        2 классы:
        12 занятий по 2 часа
        (1 час русский язык и 1 час математика).

        3-4 классы:
        12 занятий по 3 часа
        (1 час 30 минут русский язык и 1 час 30 минут математика)
    </p>


</section>
{% endblock %}