<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta content="description" name="Занятия для детей школьного и дошкольного возраста. А также частный детский сад и городской лагерь.">
    <title>Главная</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="site.html">
                <img src="./static/img/logo_осьминожки.png" alt="логотип">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="about_us.html">О нас</a></li>
                    <li><a href="preschoolers.html">Дошкольники</a></li>
                    <li><a href="junior_schoolchildren.html">Младшие школьники</a></li>
                    <li><a href="zero_class.html">Нулевой класс</a></li>
                </ul>
                <ul>
                    <li><a href="part-time.html">Группа неполного дня</a></li>
                    <li><a href="intensives.html">Интенсивы</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="phone">
                <a href="#">+7(915)300-35-95</a>
            </div>
        </div>
        <div class="photos1">
            <img src="./static/img/ла1.png" alt="летний лагерь">
            <img class="lag2" src="./static/img/ла2.png" alt="летний лагерь2">
        </div>
    </header>
    <section class="main_part">
        <h1>О детском клубе</h1>
        <h2>Детский клуб «Осьминожки» –</h2>
        <p style="font-size: 20px;
   font-family: text_navigation;
   color: rgb(23, 34, 89);
   line-height: 25px">это островок радости, веселья и беззаботного детства.<br>
            К нам с удовольствием приходят дети и взрослые, чтобы<br>
            общаться, творить, развиваться и отдыхать. Мы живём и<br>
            работаем дружной семьей. Больше всего на свете мы любим<br>
            делать чудеса, хотим, чтобы дети и родители были счастливы<br>
            и стараемся им в этом помочь. И, кажется, у нас получается.<br>
            С восторгом мы каждый день наблюдаем за маленькими и<br>
            большими переменами, которые происходят с нашими воспитанниками.<br>
            Радуемся тому, как они растут, становятся умелыми, самостоятельными,<br>
            узнают что-то новое и открывают для себя этот огромный и<br>
            необыкновенный мир. Проживаем каждый новый день вместе со всеми,<br>
            кто приходит в детский клуб «Осьминожки». Готовы к чудесам?<br>
            Приходите, мы ждем вас.</p>
        <img src="фото_фасад.png" alt="фото фасад" width="550" style="position: absolute;
    top: 800px;
    left: 770px;">
        <button class="button_about_us">
            <a href="about_us.html">
            Подробнее о нас
            </a>
        </button>
    </section>
    <section>
        <h1 style="position: absolute;
    top: 1500px;
    left: 600px;">отзывы</h1>
        <h5 style="position: absolute;
    top: 1650px;
    left: 70px;"><strong>Мы получаем прекрасную обратную связь от благодарных родителей.</strong><br>
        Ваши отзывы очень ценны для нас. Они мотивируют нас становится ещё лучше, <br>
            познавать новое, чтобы радовать вас ещё больше.</h5>
    </section>

    <h1 style="position:absolute; left:600px; top:1850px">Контакты</h1>
     <section style="position:absolute; top:1970px; left:150px">
        <p><font size="6px">Детский Клуб «Осьминожки»</font></p>
        <p><font size="6px">Адрес:</font><br>г. Коломна, ул.Гагарина, д.7 «Б»
(ЖК «Серебряные паруса»)
        </p>
        <p><font size="6px">Телефоны:</font><br>
+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
        </p>
        <p><font size="6px">Электронная почта:</font><br>
osminozhki-club@mail.ru
        </p>
        <p><font size="6px">Режим работы:</font><br>
Без выходных с 9:00 до 20:00
        </p>
    </section>
    <section style="position:absolute; top:2380px">
        <a href="https://t.me/osminozhki">
            <img src="tg.png" alt="дошколята" style="width:50px; position:absolute; left:250px">
        </a>
        <a href="https://vk.com/clubosminozhki">
            <img src="vk.png" alt="дошколята" style="width:50px; position:absolute; left:180px">
        </a>
    </section>

    <footer style="position:absolute; top:2600px">
        <p style="position:absolute; top:20px; left:600px">+7 (496) 615-15-15<br>
+7 (496) 613-20-86<br>
+7 (915) 300-35-95<br>
osminozhki-club@mail.ru<br>
Все права защищены<br>
© 2013 — 2024.<br>
Детский клуб «Осьминожки»</p>
        <img src="./static/img/bottom.png">
        <img src="./static/img/осм.png" width="450px">
    </footer>
</body>
</html>
