{% extends 'base_template.html' %}

{% block content %}
<section class="main_part">
    <h1>О детском центре</h1>
    <h2>Детская студия «Узнавайка»</h2>
    <p style="font-size: 20px;
   color: rgb(23, 34, 89);">это островок радости, веселья и беззаботного детства.<br>
        К нам с удовольствием приходят дети и взрослые, чтобы<br>
        общаться, творить, развиваться и отдыхать. Мы живём и<br>
        работаем дружной семьей. Больше всего на свете мы любим<br>
        делать чудеса, хотим, чтобы дети и родители были счастливы<br>
        и стараемся им в этом помочь. И, кажется, у нас получается.<br>
        С восторгом мы каждый день наблюдаем за маленькими и<br>
        большими переменами, которые происходят с нашими воспитанниками.<br>
        Радуемся тому, как они растут, становятся умелыми, самостоятельными,<br>
        узнают что-то новое и открывают для себя этот огромный и<br>
        необыкновенный мир. Проживаем каждый новый день вместе со всеми,<br>
        кто приходит в детскую студию «Узнавайка». Готовы к чудесам?<br>
        Приходите, мы ждем вас.</p>

    <h1>Отзывы</h1>
    <h5 style="color: rgb(23, 34, 89);"><strong>Мы получаем прекрасную обратную связь от благодарных родителей.</strong><br>
        Ваши отзывы очень ценны для нас. Они мотивируют нас становится ещё лучше, <br>
        познавать новое, чтобы радовать вас ещё больше.</h5>
    <div style="width:560px;height:800px;overflow:hidden;position:relative;" class="yandex-reviews">
        <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
                src="https://yandex.ru/maps-reviews-widget/47086113964?comments"></iframe>
        <a href="https://yandex.ru/maps/org/uznavayka/47086113964/" target="_blank"
           style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Узнавайка
            на карте Краснодара — Яндекс Карты</a>
    </div>
    <h1>Детская студия «Узнавайка»</h1>
    <h2><font size="6px">Адрес:</font></h2>
    <p>Краснодар, Западный внутригородской округ, Кожевенная улица, 64</p>
    <h2><font size="6px">Телефоны:</font></h2>
    <p>+7 (918) 432-93-94</p>
    <p>+7 (918) 650-38-37</p>
    <h2><font size="6px">Режим работы:</font></h2>
    <p>Без выходных с 9:00 до 20:20</p>
    <div style="text-align:center;position:relative;overflow:hidden;"><a
            href="https://yandex.ru/maps/org/uznavayka/47086113964/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:0px;">Узнавайка</a><a
            href="https://yandex.ru/maps/35/krasnodar/category/children_developmental_center/184107204/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">Центр развития ребёнка в Краснодаре</a>
        <iframe src="https://yandex.ru/map-widget/v1/?ll=38.949064%2C45.037407&mode=search&oid=47086113964&ol=biz&z=17.04"
                width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
</section>
{% endblock %}
