{% extends 'base_template.html' %}

{% block content %}

<section class="main_part">
    <h1> Быстрочтение </h1>


    <h2>Интенсив
        12 занятий по 1 час 30 минут.
        Для детей 6-7 лет, первоклассников (только для детей, умеющих читать) и 2 - 4 классов</h2>
    <p>

        Успеваемость в школе напрямую зависит от скорости чтения ребёнка и понимания прочитанного!

        Так, среди медленно читающих учеников на «хорошо» и «отлично» учатся лишь 4%, а среди быстро читающих - целых
        53%.
    </p>
    <h2>Обучение быстрочтению поможет детям:</h2>

    <p>
        - читать правильно, быстро и с удовольствием;
        - быстро усваивать информацию;
        - развить внимание и память;
        - лучше учиться;
        - меньше времени тратить на выполнение домашних заданий.
    </p>
    <h2>На чем построена наша программа быстрочтение:</h2>
    <p>
        - Устраняем ошибки при чтении.
        - Расширяем поле зрения. Учим видеть сразу не 2-3 слова, а целую фразу.
        Таким образом улучшается концентрация внимания и развивается периферическое зрение. Все это повысит скорость
        чтения и улучшит понимание.
        - Учимся избегать артикуляции
        (проговаривания текста). Снизив артикуляцию до минимума, можно повысить скорость чтения.
        - Избавляемся от регрессии (Регрессия - чтение текста дважды, как бы для верности.)
        - Большое внимание уделяем осознанности чтения.
        Учимся быстро выделять в тексте ценную, полезную информацию и не растрачивать внимание на второстепенное.
        - Развитие памяти.
        Образная память самая крепкая у детей. Когда ребёнок умеет представить образы, он успешнее запоминает материал,
        изучает новые предметы»
    </p>


</section>
{% endblock %}