{% extends 'base_template.html' %}

{% block content %}

<section class="main_part">
    <h1> Логопед </h1>
    <h2>Развитие речи у маленького человека – долгий и сложный процесс. С помощью речи ребёнок познает окружающий мир,
        развивает коммуникативные навыки, ассоциативное мышление.
        Вот почему так важно вовремя выявить речевые нарушения и начать их корректировать.<br>

        Вашему ребенку нужен логопед, если:</h2>
    <p>
        Вам кажется, что ребёнок говорит хуже, чем положено в его возрасте;<br>

        Ребенок не торопится заговорить;<br>

        Не откликается на свое имя;<br>

        Не пытается подражать звукам;<br>

        Говорит отдельными слогами, не связывая их в слово;<br>

        Заменяет одни звуки на другие;<br>

        Переставляет или пропускает звуки или слоги в словах;<br>

        Неправильно произносит звуки;<br>

        Говорит монотонно, невыразительно, «каша во рту», посторонние люди не понимают речь вашего ребёнка;<br>

        Пишет зеркально (путает, в какую сторону пишутся, например, буквы Е, Я, Э);<br>

        Путает, пропускает или меняет местами буквы и слоги;<br>

        Ребёнку трудно писать, читать, считать;<br>

        Трудно пересказать короткий рассказ или сказку;<br>

        Трудно понять смысл прочитанного.<br>
    </p>

</section>
{% endblock %}