<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta content="description" name="Занятия для детей школьного и дршкомльного возраста. А также частный детский сад и городской лагерь.">
    <title>Нулевой класс</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo_осьминожки.png" alt="логотип">
            </div>
            <nav>
                <ul>
                    <li><a href="about_us.html">О нас</a></li>
                    <li><a href="preschoolers.html">Дошкольники</a></li>
                    <li><a href="junior_schoolchildren.html">Младшие школьники</a></li>
                    <li><a href="zero_class.html">Нулевой класс</a></li>
                </ul>
                <ul>
                    <li><a href="part-time.html">Группа неполного дня</a></li>
                    <li><a href="intensives.html">Интенсивы</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="phone">
                <a href="#">+7(915)300-35-95</a>
            </div>
        </div>
    </header>
    <footer>

    </footer>
</body>
</html>